h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    padding: 20px;
    background-color: #e0f7fa; 
    border: 2px solid #00796b; 
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#3e2104;
  }
  
  .navmenu{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .nav {
    list-style-type: none;
    background-color: darkcyan;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.nav li {
    float: left;
  }
  
  .nav li a {
    color: white;
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #445b3a;
    color: white;
}
.active {
    background-color: #91a97c;
}


.topic1title{
    grid-column: 1;
    grid-row: 2;
}

.topic1text{
    grid-column: 2 / span 2;
    grid-row:  2 / span 3;
}

.topic1img{
    grid-column: 1;
    grid-row: 3 / span 2;
}

.topic2title{
    grid-column: 3;
    grid-row: 5;
}

.topic2text{
    grid-column: 1 / span 2;
    grid-row:  5 / span 3;
}

.topic2img{
    grid-column: 3;
    grid-row: 6 / span 2;
}

.topic3title{
    grid-column: 1;
    grid-row: 8;
}

.topic3text{
    grid-column: 2 / span 2;
    grid-row:  8 / span 3;
}

.topic3img{
    grid-column: 1;
    grid-row: 9 / span 2;
}

.topic4title{
    grid-column: 3;
    grid-row: 12;
}

.topic4text{
    grid-column: 1 / span 2;
    grid-row: 12/ span 3;
}

.topic4img{
    grid-column: 3;
    grid-row: 13 / span 2;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
