h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    padding: 20px;
    background-color: #e0f7fa; 
    border: 2px solid #00796b; 
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#3e2104;
  }
  
  .navmenu{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .nav {
    list-style-type: none;
    background-color: rgb(6, 83, 35);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.nav li {
    float: left;
  }
  
  .nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #004d1b;
    border-radius: 15px;
  }
  
  ul.nav a:hover {
    background-color: rgb(4, 65, 2);
    color: white;
  }
  .active { /* Fred learned how to differentiate active page */
    background-color: rgb(41, 56, 3);
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
  .grid-container {
      display: grid;
      grid-template-columns: 1fr; 
      grid-gap: 1rem; 
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      box-sizing: border-box;
    }
    
    
    .grid-item {
      display: flex; 
      background-color: #064917;
      padding: 20px;
      border: 1px solid #ccc; 
      box-sizing: border-box;
    }
    
  
    .grid-text { /* I learned about getting text to flow better in this section with things like border box and flex directions */
      width: 66%;
      background-color: #fff3e0;
      padding: 1rem;
      border-radius: 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
   
    .grid-image { /* fred learned about shading and creating soft edges on grid boxes, this was not something that I knew before */
      width: 33%;
      background-color: #e0f7fa;
      padding: 1rem; /* I learned about using rem as a measurement */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* I learned about making shadows on boxes */
    }
    
    
    .grid-image img { /*I learned about how to get the image to fit properly in its designated section */
      width: 100%; 
      height: auto; 
    }
    
    h3 {
        text-align: left;
        font-family: Arial;
        color:#115f25;
    }
  
    h4 {
        text-align: center;
        font-family: Arial;
        color:#115f25;
    }
  
    .video-section { 
      display: flexbox;
      justify-content: center;  
      align-items: center;
  }  


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  